<%- include('../partials/header') %>
<title>Dashboard</title>
</head>
<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Foodie</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#demo">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
          <div class="nav-item text-nowrap">
            <a class="nav-link px-3" id='logout' href="/logout">Sign out</a>
          </div>
        </div>
      </header>

  

      <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="/user/<%= data._id %>/photo">
                  <% if (data.image.data) { %>
                    <img src="data:img/gif;base64,<%= data.image.data.toString('base64') %>" height="225px" width="100%" class="img-thumbnail">
                  <% }else{ %>
                    <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" height="100px" width="100%" class="img-thumbnail">
                  <% } %>
                  </a>
                </li>
                <hr>
                    
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/user">
                    <span data-feather="home"></span>
                    Profile
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file"></span>
                    Food
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/foodwiki">
                    <span data-feather="file"></span>
                    Foodwiki
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/bmi">
                    <span data-feather="shopping-cart"></span>
                    BMI
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/diet">
                    <span data-feather="users"></span>
                    Daily Diet
                  </a>
                </li>
              </ul>
      
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Navigation</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                  <span data-feather="plus-circle"></span>
                </a>
              </h6>
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="/">
                    <span data-feather="file-text"></span>
                    Home
                  </a>
                </li>
              </ul>
            </div>
          </nav>
      
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2"><%= component[0].toUpperCase()+component.slice(1) %> </h1>
              <% if (component==='profile') { %>
                <a href="/user/<%= data._id %>/update " class="btn btn-sm btn-outline-secondary">Update</a>
              <% }else if(component==='diet'){ %>
                <a href="#" class="btn btn-sm btn-outline-secondary" id='set'>Set Plan</a>
              <% } %> 
            </div>
            
            <% if (component==='item') { %>
                <%-include('./item')%>
            <% }else if(component==='profile'){ %>
                <%- include('./profile',{...data}) %>
            <% }else if(component==='bmi'){ %>
                <%- include('./bmi',{...data})%> 
            <% }else if(component==='diet'){ %>
                <%- include('./diet',{...data}) %> 
            <% }else if(component==='update'){ %>
                <%- include('./update',{...data}) %> 
            <% }else if(component==='avatar'){ %>
                <%- include('./avatar',{...data,info})  %> 
            <% }else if(component==='foodwiki'){ %>
                <%- include('./foodwiki',{...data}) %> 
            <% } %> 

            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    
          </main>
        </div>
      </div>
      


<%- include('../partials/footer') %>