<div class="container">
    <table class="table table-hover">
        <tr>
            <th>Username</th>
            <td><%= data.username %></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><%= data.email %></td>
        </tr>
        <tr>
            <th>Age</th>
            <td><%= data.physique.age %></td>
        </tr>
        <tr>
            <th>Height</th>
            <td><%= data.physique.height %></td>
        </tr>
        <tr>
            <th>Weight</th>
            <td><%= data.physique.weight %></td>
        </tr>
        <tr>
            <th>BMI</th>
            <td><%= data.physique.bmi.toFixed(2) %></td>
        </tr>
    </table>
</div>