<div class="container">
    <form action='/user/<%= data._id %>' method="post" >
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Username</span>
            <input type="text" class="form-control" placeholder="Username" value='<%= data.username %>' name="username">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Age</span>
            <input type="text" class="form-control" placeholder="Age" value='<%= data.physique.age %>' name="age">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Height</span>
            <input type="text" class="form-control" placeholder="Height" value='<%= data.physique.height %>' name="height">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Weight</span>
            <input type="text" class="form-control" placeholder="Weight" value='<%= data.physique.weight %>' name="weight">
        </div>
        <button type="submit" class="btn btn-secondary">Update</button>
      </form>
</div>