<%- include('../partials/header') %> 
<title>Catalogue</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Foodie</a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="mt-5 pt-5"></div>

      <div class="container">
          <div class="row d-flex justify-content-center">
                <div class="col-10 col-lg-7">
                    <img src="https://cdn.mos.cms.futurecdn.net/atyrpYQoxdoTzmEgu8HMWE.jpg" class="img-fluid">
                    <div class='d-flex justify-content-between'>
                        <button class='btn' id='delete'>
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                        <button class='btn' id='like'>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                        <button class='btn'>
                            <a href="">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </button>
                    </div>

                    <table class="table">
                        <tr>
                          <td><strong>Name</strong></td>
                          <td><strong><%= data.name %></strong></td>
                        </tr>
                          <tr>
                            <td>Iron</td>
                            <td><%= data.nutrients.iron %> </td>
                          </tr>
                          <tr>
                            <td>Vitamins</td>
                            <td><%= data.nutrients.vitamins %> </td>
                          </tr>
                          <tr>
                            <td>Calcium</td>
                            <td><%= data.nutrients.calcium %> </td>
                          </tr>
                          <tr>
                            <td>Calorie</td>
                            <td><%= data.calorie %> </td>
                          </tr>
                    </table>
                </div>
          </div>
      </div>

<script>
    const like = document.querySelector('#like')
    like.addEventListener('click',e=>{
        fetch('<%= data._id %>/like')
        .then(res=>res.json()).then(data=>{
            if(data.result==true){
                document.querySelector('.fa-heart').style.color = 'red'
            }
        })
    })

    const del = document.querySelector('#delete') 
    del.addEventListener('click',e=>{
        fetch('<%= data._id %>/delete',{method: 'delete'}).then(res=>{
            res.json()
        }).then(data=>{
            if(data.result==true){
                window.location.url = '/item' 
            }
        })
    })

</script>


<%- include('../partials/footer') %> 
